<!DOCTYPE html>
<html>
<head>
  <title>Payment Receipt</title>
</head>
<body>
  <h1>Payment Receipt</h1>
  <p>Payment ID: <%= payment._id %></p>
  <p>User ID: <%= payment.userId %></p>
  <p>Amount: $<%= payment.amount %></p>
  <p>Status: <%= payment.status %></p>
</body>
</html>
